<?xml version="1.0" encoding="utf-8"?>
<!--
  M0 device smoke-test hooks. Release variants retain non-exported engine
  Activities; only locally signed debug APKs may be started directly by adb.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name="io.github.twinquill.engine.ons.OnsEngineActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name="io.github.twinquill.engine.krkr.KrkrEngineActivity"
            android:exported="true"
            tools:replace="android:exported" />
        <activity
            android:name="io.github.twinquill.launcher.EngineProtocolTestHostActivity"
            android:exported="false" />
    </application>
</manifest>
