<?xml version="1.0" encoding="utf-8"?>
<!--
  SPDX-License-Identifier: GPL-2.0-or-later
  Copyright (C) 2026 TwinQuill contributors
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="io.github.twinquill.nativevfs.FixtureDocumentsProvider"
            android:authorities="io.github.twinquill.nativevfs.test.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS" />
    </application>
</manifest>
